<div class="profile row">
  <div class="left-align col l4 m10 s10 push-l4 push-m1 push-s1 pull-l4 pull-m1 pull-s1">
    <div class="black-text">
    <h4 class="center-align"><%= t('change_password') %></h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-field col s12">
      <%= f.label t('email'), class: "active"  %>
      <%= f.email_field :email%>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('currently_waiting_confirmation_for_email')%><%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="input-field col s12">
      <%= f.label t('password') %>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
    <div class="input-field col s12">
      <%= f.label t('password_confirmation') %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div class="input-field col s12">
      <%= f.label t('current_password') %>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    <div class="actions center-align">
      <%= f.submit t('save'), class:"btn waves-effect waves-light blue darken-1" %>
    </div>
    <% end %>
  </div>
</div>
</div>
