<nav>
  <div class="nav-wrapper">
    <%= link_to "ALIVIATE", root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li> <%= link_to t('news').upcase, root_url %></li>
      <li> <%= link_to t('schedule').upcase, root_url %></li>
      <li> <%= link_to t('doctors_office').upcase, root_url %></li>
      <li> <%= link_to t('appointments').upcase, root_url %></li>
      <li> <%= link_to t('products').upcase, root_url %></li>
      <li> <%= link_to t('about').upcase, about_url %></li>
      <li> <%= link_to t('contact').upcase, new_contact_url %></li>

      <% if user_signed_in? %>
        <a class="dropdown-button btn deep-orange darken-1" data-activates="dropdown1"><%= current_user.full_name %></a>

        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to  t('profile'), edit_user_url(current_user) %></a></li>
          <% if current_user.is_admin? %>
            <li> <%= link_to t('admin_panel'), admin_root_url %></li>
          <% end %>
          <li class="divider"></li>
          <li> <%= link_to t('sign_out'), destroy_user_session_url, method: :delete %></li>
        </ul>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li> <%= user_signed_in? ? link_to(t('profile'), edit_user_url(current_user)) : link_to(t('login'), new_user_session_url) %></li>
      <li> <%= link_to t('news'), root_path %></li>
      <li> <%= link_to t('schedule'), root_path %></li>
      <li> <%= link_to t('doctors_office'), root_path %></li>
      <li> <%= link_to t('appointments'), root_path %></li>
      <li> <%= link_to t('products'), root_path %></li>
      <li> <%= link_to t('contact'), new_contact_url %></li>
      <li> <%= link_to t('about'), about_path %></li>

      <% if user_signed_in? %>
        <li> <%= link_to t('sign_out'), destroy_user_session_url, method: :delete %></li>
      <% else %>
        <li> <%= link_to t('registration'), new_user_registration_url  %></li>
      <% end %>
    </ul>
  </div>
</nav>
