<body>
  <div class="profile row">
    <div class="left-align profile col l4 m10 s10 push-l4 push-m1 push-s1 pull-l4 pull-m1 pull-s1">
      <div class="black-text">
        <h4 class="center-align"><%= @user.full_name %></h3>
          <div class="row">
            <%= form_for @user, url: {action: 'update'} do |f| %>
            <div class="input-field col s12">
              <%= f.text_field :email, id: "email", class: "validate", value: @user.email %>
              <%= f.label :email, for: "email", class: "active" %>
            </div>
            <div class="input-field col s12">
              <% if @user.telephone != nil%>
                <%= f.text_field :telephone, id: "telephone", class: "validate", value: @user.telephone %>
                <%= f.label :telephone, for: "telephone", class: "active" %>
              <% end %>
            </div>
          <% if @user.cellphone != nil %>
          <div>
            <p><%= t('cellphone') %>: <%= @user.cellphone %></p>
          </div>
          <% end %>
          <% if @user.address != nil %>
          <div>
            <p><%= t('address') %>: <%= @user.address %></p>
          </div>
          <% end %>
          <% end %>
        </div>
    </div>
  </div>
</body>
