<div class="container">
  <h2><%= t('aliviate').upcase %></h2>
  <p>
    <%= t('slogan_about').capitalize %>
  </p>
  <div class="col s6 m7">
    <h2 class="header"><%= t('mission').capitalize %></h2>
    <div class="card_class card horizontal">
      <div class="card-image">
        <%= image_tag("logo.png", class:"responsive-img")%>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <%= t('content_mission').capitalize%>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6 m7">
    <h2 class="header"><%= t('vision').capitalize %></h2>
    <div class="card_class card horizontal">
      <div class="card-image">
        <%= image_tag("logo.png", class:"responsive-img")%>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <%= t('content_vision').capitalize %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6 m7">
    <h2 class="header"><%= t('values').capitalize %></h2>
    <div class="card_class card horizontal">
      <div class="card-image">
        <%= image_tag("logo.png", class:"responsive-img")%>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <%= t('content_values').capitalize %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s6 m7">
    <h2 class="header"><%= t('quality_policies').capitalize %></h2>
    <div class="card_class card horizontal">
      <div class="card-image">
        <%= image_tag("logo.png", class:"responsive-img")%>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <%= t('content_quality_policies').capitalize %>
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
