<div class="container-fluid">
  <div class="row">
    <div class="col l10 m10 offset-l1 offset-m1">
      <h2 class="center"><%= t('aliviate').upcase %></h2>
      <p>
        <%= t('slogan_about') %>
      </p>
    </div>
  </div>
  <div class="grey lighten-5 row">
    <div class="col l4 m5 s12 push-l7 push-m7">
      <%= image_tag("about/mission.jpg", class:"responsive-img") %>
    </div>
    <div class="col l6 m7 s12 pull-l4 pull-m5 offset-l1 text-center">
      <h3><%= t('mission').capitalize %></h3>
      <p>
        <%= t('content_mission').capitalize%>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col l4 m5 s12 offset-l1">
      <%= image_tag("about/vision.jpg", class:"responsive-img") %>
    </div>
    <div class="col l6 m7 s12 text-center">
      <h3><%= t('vision').capitalize %></h3>
      <p>
        <%= t('content_vision').capitalize %>
      </p>
    </div>
  </div>
  <div class=" grey lighten-5 row">
    <div class="col l4 m5 s12 push-l7 push-m7">
      <%= image_tag("about/values.jpeg", class:"responsive-img") %>
    </div>
    <div class="col l6 m7 s12 pull-l4 pull-m5 offset-l1 text-center">
      <h3><%= t('values').capitalize %></h3>
      <p>
        <%= t('content_values').capitalize %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col l4 m5 s12 offset-l1">
      <%= image_tag("about/quality.jpeg", class:"responsive-img") %>
    </div>
    <div class="col l6 m7 s12 text-center">
      <h3><%= t('quality_policies').capitalize %></h3>
      <p>
        <%= t('content_quality_policies').capitalize %>
      </p>
    </div>
  </div>
</div>
