<div class="admin-container">
  <h3> <%= t('article_listing') %></h3>
</div>

<div class="row">
  <%= link_to t('new_post'), new_admin_post_url, class: "btn green darken-3" %>
</div>

<table class="centered highlight">
  <thead>
    <tr>
      <th data-field="id"><%= t('title') %></th>
      <th data-field="published"><%= t('published') %></th>
      <th data-field="created_at"><%= t('created_at') %></th>
      <th data-field="actions"> <%= t('actions') %> </th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td> <%= post.title %> </td>
        <td> 
          <% if post.published %>
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
            <label for="filled-in-box"></label>
          <% else %>
            <input type="checkbox" id="test5" />
            <label for="test5"></label>
          <% end %>
        </td>
        <td> <%= post.created_at.strftime("%Y/%m/%d") %> </td>
        <td> 
          <%= link_to t('edit'), edit_admin_post_url(post), class: "btn blue darken-3 btn-edit" %>
          <%= link_to t('delete'), admin_post_url(post), method: :delete, data: { confirm: t('confirm') }, class: "btn red darken-4 btn-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
