<div class="container">
  <div class="row">
    <div class="center">
      <h3> Iniciar Sesión </h3> 
      <%= link_to "Inicia con Facebook", user_facebook_omniauth_authorize_url, class: "btn blue darken-4 facebook" %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "col s12" }) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email, id: "email", class: "validate" %>
          <%= f.label :email, for: "email" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, id: "password", class: "validate" %>
          <%= f.label :password, for: "password" %>
        </div>
      </div>
      <div class="container center">
        <%= f.submit "Iniciar Sesión", class: "btn waves-effect waves-light light-blue darken-3" %>
      </div>
    <% end %>
  </div>
</div>
